
body
{
	margin: 0;
}

body *
{
	transition: all 0.5s;
}

body h1,body h2,body h3,body h4,body h5,body p
{
	margin: 0;
}

body h1,body h2,body h4
{
	color: #41463D;
	font-family: 'DM Serif Display', serif;
}

body h3,body p,body span,body a
{
	color: #41463D;
	font-family: 'Space Grotesk', sans-serif;
}

body h1
{
	font-size: 70px;
	line-height: 70px;
}

body h2
{
	font-size: 60px;
	line-height: 60px;
}

body ul.nav_arrow
{
	display: none;
}

body .btn
{
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	font-weight: 500;
	border-radius: 5px;
	font-size: 18px;
}

body .btn.purple
{
	background: #9E8AF6;
	color: #FFF0E6;
}

body .btn.purple:hover
{
	background: #6b54d0;
}

body .btn.green
{
	background: #1CF9B5;
}

body .btn.green:hover
{
	background: #00d694;
}

body:before
{
	content: '';
	width: 298px;
	height: 405px;
	background-image: url(/images/path_droite.png?0c475d17c39fdb9b70e7c03909bf0d85);
	background-size: cover;
	position: absolute;
	top: 100px;
	right: 0;
	z-index: -1;
}

body:after
{
	content: '';
	width: 71px;
	height: 415px;
	background-image: url(/images/path_gauche.png?7fa7cf179ccd75a75c06c310ff8fb24b);
	background-size: cover;
	position: absolute;
	top: 100px;
	left: 0;
	z-index: -1;
}

body main header
{
	background: #41463D;
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid #FFF0E6;
	padding: 20px 30px;
	justify-content: space-between;
	align-items: center;
}

body main header img
{
	width: 200px;
}

body main div.content
{
	max-width: 1470px;
	margin: auto;
	position: relative;
}

body main div.content div.hero
{
	width: 50%;
	padding: 40px 0;
}

body main div.content div.hero h1,body main div.content div.hero p
{
	margin: 0 0 20px;
}

body main div.content div.hero p
{
	font-size: 24px;
}

body main div.content div.cards-container
{
	display: flex;
	margin: 0 0 50px;
}

body main div.content div.cards-container div.card
{
	background: #FFF0E6;
	border-radius: 5px;
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: all 0.5s;
	width: 25%;
}

body main div.content div.cards-container div.card h3
{
	padding: 20px;
	background: #9E8AF6;
	color: #FFF0E6;
	border-radius: 5px 5px 0 0;
	min-height: 48px;
	display: flex;
	align-items: center;
}

body main div.content div.cards-container div.card h3 img
{
	display: none;
}

body main div.content div.cards-container div.card > div
{
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

body main div.content div.cards-container div.card > div p
{
	margin: 0 0 15px;
}

body main div.content div.cards-container div.card > div a
{
	color: #333;
}

body main div.content div.cards-container div.card > div img
{
	width: 100%;
}

body main div.content div.cards-container div.card:first-child
{
	margin: 0 10px 0 0;
}

body main div.content div.cards-container div.card:last-child
{
	margin: 0 0 0 10px;
}

body main div.content div.cards-container div.card:hover
{
	transform: translate(0,-15px);
}

body main div.content div.pin-container
{
	display: flex;
	margin: 50px 0 50px;
}

body main div.content div.pin-container div.pin
{
	border: 4px solid #9E8AF6;
	background: #FFF0E6;
	border-radius: 10px;
	padding: 20px;
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	width: 25%;
}

body main div.content div.pin-container div.pin img.face
{
	max-width: 110px;
	margin: -45px 0px 10px;
	border-radius: 50%;
	background-color: #FFF0E6;
}

body main div.content div.pin-container div.pin span.name
{
	font-weight: 600;
	text-align: right;
}

body main div.content div.pin-container div.pin:first-child
{
	margin: 0 10px 0 0;
}

body main div.content div.pin-container div.pin:last-child
{
	margin: 0 0 0 10px;
}

body main div.content div.slot-container
{
	display: flex;
	margin: 50px 0;
}

body main div.content div.slot-container div.slot
{
	border: 4px solid #9E8AF6;
	background: #FFF0E6;
	border-radius: 10px;
	padding: 20px 20px 30px;
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	width: 33%;
}

body main div.content div.slot-container div.slot h4
{
	font-size: 22px;
	line-height: 26px;
	margin: 0 0 15px;
}

body main div.content div.slot-container div.slot img
{
	max-width: 250px;
	margin: 0 0 15px;
}

body main div.content div.slot-container div.slot:first-child
{
	margin: 0 10px 0 0;
}

body main div.content div.slot-container div.slot:last-child
{
	margin: 0 0 0 10px;
}

body main div.content div.contact
{
	margin: 0 0 100px;
}

body main div.content div.contact ul
{
	display: flex;
	margin: 40px 0 0;
	padding: 0;
	width: 100%;
}

body main div.content div.contact ul li
{
	list-style: none;
	width: 32%;
	display: flex;
}

body main div.content div.contact ul li a
{
	width: 100%;
	text-align: center;
}

body main div.content div.contact ul li:first-child
{
	margin: 0 2% 0 0;
}

body main div.content div.contact ul li:last-child
{
	margin: 0 0 0 2%;
}

body.dark
{
	background: #41463D;
}

body.dark h1,body.dark h2
{
	color: #FFF0E6;
}

body.dark main div.content div.hero p
{
	color: #FFF0E6;
}

body.light
{
	background: #FFF0E6;
}

body.light main header
{
	border-bottom: 2px solid #41463D;
}

body.light main div.content .hero
{
	width: 80%;
}

body.light main div.content div.slot-container
{
	margin: 0 0 50px;
	flex-wrap: wrap;
	justify-content: flex-start;
}

body.light main div.content div.slot-container div.slot
{
	width: calc(33% - 80px);
	margin: 0 0 50px;
}

body.light main div.content div.slot-container div.slot:nth-child(3n+2)
{
	margin: 0 40px 50px;
}

@media (max-width: 1530px)
{
	body main div.content
	{
		max-width: 100%;
		padding: 0 30px;
	}

	body main div.content div.hero
	{
		width: 75%;
	}
}

@media (max-width: 970px)
{
    body ul.nav_arrow
	{
		padding: 0;
		margin: 10px 10px 0 0;
		display: flex;
		justify-content: flex-end;
	}

	body ul.nav_arrow li
	{
		cursor: pointer;
		padding: 0 15px 0 0;
		list-style-type: none;
	}

	body ul.nav_arrow li img:hover
	{
		opacity: 0.5;
	}

	body main div.content div.cards-container
	{
		flex-direction: row;
		flex-wrap: wrap;
		margin: -10px -10px 50px;
	}

	body main div.content div.cards-container div.card
	{
		width: calc(50% - 20px);
		margin: 10px;
	}

	body main div.content div.cards-container div.card:first-child,body main div.content div.cards-container div.card:last-child
	{
		margin: 10px;
	}

    body main div.content div.pin-container div.pin
	{
		margin: 10px;
	}

    body div.carousel {
        overflow: hidden;
    }

	body main div.content div.pin-container
	{
		flex-direction: row;
		flex-wrap: nowrap;
		margin: 30px 0 50px;
        transition: transform 0.7s ease-in-out;
	}

	body main div.content div.carousel div.pin-container div.pin
	{
		width: calc(100% - 60px);
        flex-shrink: 0;
		margin: 10px;
	}

    .disabled {
        pointer-events:none;
        opacity:0.5;
    }

	body main div.content div.slot-container
	{
		flex-direction: row;
		flex-wrap: nowrap;
		margin: 30px 0 50px;
        transition: transform 0.7s ease-in-out;
	}

	body main div.content div.slot-container div.slot
	{
		width: calc(100% - 60px);
        flex-shrink: 0;
		margin: 10px;
	}

	body.light main div.content div.slot-container
	{
		margin: 0 0 50px;
	}

	body.light main div.content div.slot-container div.slot
	{
		width: 100%;
		margin: 10px 0;
        flex-shrink: unset;
	}

	body.light main div.content div.slot-container div.slot:nth-child(n+2)
	{
		display: block;
	}

	body.light main div.content div.slot-container div.slot:nth-child(3n+2)
	{
		margin: 10px 0;
	}
}

@media (max-width: 570px)
{
	body:before
	{
		top: 73px;
	}

	body .btn
	{
		text-align: center;
	}

	body main header
	{
		padding: 15px 20px;
	}

	body main header img
	{
		width: 140px;
	}

	body main header .btn
	{
		font-size: 14px;
		padding: 8px 15px;
	}

	body main div.content h2
	{
		margin: 20px 0 0;
		font-size: 40px;
		line-height: 42px;
	}

	body main div.content div.hero
	{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	body main div.content div.hero h1
	{
		font-size: 55px;
		line-height: 60px;
	}

	body main div.content div.hero a
	{
		width: 100%;
	}

	body main div.content div.cards-container
	{
		flex-direction: column;
		margin: 0px;
	}

	body main div.content div.cards-container div.card
	{
		width: 100%;
		margin: 0 0 15px;
		border-radius: 5px;
	}

	body main div.content div.cards-container div.card h3
	{
		padding: 10px 20px;
		border-radius: 5px;
		display: flex;
		cursor: pointer;
		justify-content: space-between;
	}

	body main div.content div.cards-container div.card h3 img
	{
		display: block;
	}

	body main div.content div.cards-container div.card div
	{
		display: none;
	}

	body main div.content div.cards-container div.card:first-child,body main div.content div.cards-container div.card:last-child
	{
		margin: 0 0 15px;
	}

	body main div.content div.cards-container div.card:hover
	{
		transform: translate(0,0);
	}

	body main div.content div.pin-container
	{
		margin: 20px 0 50px;
	}

	body main div.content div.pin-container div.pin
	{
		align-items: flex-start;
	}

	body main div.content div.pin-container div.pin span
	{
		text-align: right;
		width: 100%;
	}

	body main div.content div.slot-container
	{
		margin: 20px 0 50px;
	}

	body main div.content div.contact
	{
		margin: 0 0 50px;
	}

	body main div.content div.contact ul
	{
		flex-direction: column;
	}

	body main div.content div.contact ul li
	{
		width: 100%;
	}

	body main div.content div.contact ul li:first-child
	{
		margin: 0 0 2% 0;
	}

	body main div.content div.contact ul li:last-child
	{
		margin: 2% 0 0 0;
	}
}

